# Import cache
.import/
.mono/
android/
builds/

#cert files
*.crt
*.pem
*.p12
*.pkcs
*.pfx
*.cer
*.keystore
*.[crt]
*.[pem]
*.[p12]
*.[pkcs]
*.[pfx]
*.[cer]
*.[keystore]

#single files
foxyadventure.pem
foxyadventure.p12
foxyadventure.keystore
